<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}  {% endblock %}</title>
    
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Document</title>
</head>
<body>
    
    {% block content %}
   <div style="margin: 12px;">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-messages">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
</div>
{% endblock%}
</body>
</html>