<!DOCTYPE html>
<html>
<head>
   
    <title>Enrollments</title>
    <style>
      th {
      margin-right: 10px;
      background-color: rgb(107, 85, 138);
      color: white;
      text-align: left;
    }
    tr th{
      padding: 10px;
      margin: 10px;
    }
    tr td{
      padding-left: 10px;
      background-color: rgb(217, 217, 217);
    }
      </style>
</head>
<body>
   <div class="enrollment" style="padding: 10px;">
    <div style=" background-color: rgb(207, 207, 207);"><h1 style="margin: 10px; color: rgb(5, 5, 75); text-decoration:none; ">Enrolled Students</h1></div>
    
   
    <table>
        <thead>
            <tr>
                <th>Student Reg</th>
                <th>Student Name</th>
                <th>Course</th>
                <th>Unit Name</th>
                
                
            </tr>
        </thead>
        <tbody>
            {% for enrollment in enrollments %}
                <tr>
                    <td>{{ enrollment.student_reg }}</td>
                    <td>{{ enrollment.student_name }}</td>                  
                    <td>{{ enrollment.course_code }}</td>
                    <td>{{ enrollment.course_name }}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
   </div>

    
</body>
</html>
