{% extends "base.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}
{{ super() }}
<!-- <h1>Hello I dont give a fuck about your content</h1> -->
<div class="enrollment" >
   <div class="enrollment1" >
      <h1 class="enrollment2">Enrolled Students</h1>
   </div>

   <table>
       <thead>
           <tr>
               <th>Student Reg</th>
               <th>Student Name</th>
               <th>Course</th>
               <th>Unit Name</th>
           </tr>
       </thead>
       <tbody>
           {% for enrollment in enrollments %}
               <tr>
                   <td>{{ enrollment.student_reg }}</td>
                   <td>{{ enrollment.student_name }}</td>
                   <td>{{ enrollment.course_code }}</td>
                   <td>{{ enrollment.course_name }}</td>
               </tr>
           {% endfor %}
       </tbody>
   </table>
</div>
{% endblock %}